.col-lg-4 {
  margin-bottom: 40px;
  border-radius: 10px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
}
ul {
  margin-left: 0;
  padding-left: 0;
  li {
    list-style-position: inside;
    text-align: left;
  }
}
